<ion-header>
  <ion-toolbar color="codensa">
    <ion-buttons slot="start">
      <ion-back-button (click)="hide()"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      {{ cara }}
    </ion-title>
    <ion-button (click)="prendeApagaLinterna()" slot="end" color="codensa">
      <ion-icon slot="icon-only" name="flash" *ngIf="flashMode === 'off'"></ion-icon>
      <ion-icon slot="icon-only" name="flash-off" *ngIf="flashMode === 'torch'"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" [ngClass]="{'custom-ion-content': isToBack}">
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->

<ion-footer>
  <ion-toolbar>
    <ion-button color="codensa" (click)="tomarFoto()" expand="full" fill="solid" class="textos">
      <ion-icon slot="end" name="camera"></ion-icon>
      Tomar Foto
    </ion-button>
  </ion-toolbar>
</ion-footer>
